global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "{{ prometheus_rules_file }}"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "{{ prometheus_alertmanager_url }}"

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - "localhost:9090"
  - job_name: node
    static_configs:
{% for host in groups['all'] %}
      - targets:
          - "{{ hostvars[host].ansible_host }}:9100"
        labels:
          host: "{{ host }}"
{% endfor %}
