global:
  resolve_timeout: 5m

route:
  receiver: discord

receivers:
  - name: discord
    discord_configs:
      - webhook_url: "{{ alertmanager_discord_webhook_url }}"
        send_resolved: {{ alertmanager_discord_send_resolved }}
