127.0.0.1 localhost
127.0.1.1 {{ server_hostname }}

{% for host in groups['all'] %}
{% set h = hostvars[host] %}
{{ h.ansible_host }} {{ h.server_hostname }}{{ ' ' ~ host if host != h.server_hostname else '' }}
{% endfor %}
